body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(3.jpg);
    
}




h1{
text-align: center;
color: white;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 50px black, 0 6px 20px 0
                rgba(0, 0, 0, 50);
}

#result{
    height: 120px;
    overflow: hidden;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 5px;
    font-size: 20px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 40px;
    
}
#keyboard{
    height: 400px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 30%;
    font-weight: bold;
    font-size: 15px;
    
}
.number{
    border-width: 3px;
}
.operator, .empty{
    border-width: 0;
    border-radius: 10%;
    
}
.empty, .number{
    background-color: #eaedef;
}

.operator, .number{
    cursor: pointer;
    box-shadow: 0 0 12px black;
}

.number:active{
   font-size: 50px;
}
.operator:active{
    font-size: 30px;
 }
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
 }


 button:nth-child(1){
    font-size: 20px;
    background-color: #c70039;
}
button:nth-child(2){
    font-size: 20px;
    background-color: #ed3456;
}
button:nth-child(3){
    font-size: 20px;
    background-color: #ff5733;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #ffc300;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ff5733;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #fc6e22;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #ff1493;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #c24cf6;
}




